.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

.st-emotion-cache-mtjnbi {
    padding: 1em !important;
    max-width: 95em;
}

.st-emotion-cache-xhkv9f {
    width: auto;
}

.livre {
    border: 2px solid #ddd; 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px;
    overflow: scroll;
}

.livre:hover {
    background-color: rgba(137, 220, 235,0.2);
    cursor: pointer;
}