.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

.st-emotion-cache-mtjnbi {
    padding: 1em !important;
    max-width: 95em;
}

.st-emotion-cache-xhkv9f {
    width: auto;
}